<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule ^abc/[^/]+/[^/]+/(.+)$ public/index.php  [L]
    RewriteRule    ^$    public/    [L]
    RewriteRule    (.*) public/index.php    [L]
    
</IfModule>
